webservice-sync/src/main/resources/contract/mdr/webservice/MDRService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ec.europa.eu/mare/fisheries/services/mdr/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ec.europa.eu/mare/fisheries/services/mdr/v1" name="MDRService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ec.europa.eu/mare/fisheries/model/mdr/v1" schemaLocation="1.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://ec.europa.eu/mare/fisheries/services/mdr/v1" schemaLocation="2.xsd"/>
		</xsd:schema>
	</types>
	<message name="getLatestVersionOfMDRList">
		<part name="parameters" element="tns:getLatestVersionOfMDRList"/>
	</message>
	<message name="getLatestVersionOfMDRListResponse">
		<part name="parameters" element="tns:getLatestVersionOfMDRListResponse"/>
	</message>
	<message name="MDRServiceException">
		<part name="fault" element="tns:ServiceExceptionFault"/>
	</message>
	<message name="getFullMDRList">
		<part name="parameters" element="tns:getFullMDRList"/>
	</message>
	<message name="getFullMDRListResponse">
		<part name="parameters" element="tns:getFullMDRListResponse"/>
	</message>
	<message name="getMDRList">
		<part name="parameters" element="tns:getMDRList"/>
	</message>
	<message name="getMDRListResponse">
		<part name="parameters" element="tns:getMDRListResponse"/>
	</message>
	<portType name="MDRService">
		<operation name="getLatestVersionOfMDRList">
			<input wsam:Action="http://ec.europa.eu/mare/fisheries/services/mdr/v1/MDRService/getLatestVersionOfMDRListRequest" message="tns:getLatestVersionOfMDRList"/>
			<output wsam:Action="http://ec.europa.eu/mare/fisheries/services/mdr/v1/MDRService/getLatestVersionOfMDRListResponse" message="tns:getLatestVersionOfMDRListResponse"/>
			<fault message="tns:MDRServiceException" name="MDRServiceException" wsam:Action="http://ec.europa.eu/mare/fisheries/services/mdr/v1/MDRService/getLatestVersionOfMDRList/Fault/MDRServiceException"/>
		</operation>
		<operation name="getFullMDRList">
			<input wsam:Action="http://ec.europa.eu/mare/fisheries/services/mdr/v1/MDRService/getFullMDRListRequest" message="tns:getFullMDRList"/>
			<output wsam:Action="http://ec.europa.eu/mare/fisheries/services/mdr/v1/MDRService/getFullMDRListResponse" message="tns:getFullMDRListResponse"/>
			<fault message="tns:MDRServiceException" name="MDRServiceException" wsam:Action="http://ec.europa.eu/mare/fisheries/services/mdr/v1/MDRService/getFullMDRList/Fault/MDRServiceException"/>
		</operation>
		<operation name="getMDRList">
			<input wsam:Action="http://ec.europa.eu/mare/fisheries/services/mdr/v1/MDRService/getMDRListRequest" message="tns:getMDRList"/>
			<output wsam:Action="http://ec.europa.eu/mare/fisheries/services/mdr/v1/MDRService/getMDRListResponse" message="tns:getMDRListResponse"/>
			<fault message="tns:MDRServiceException" name="MDRServiceException" wsam:Action="http://ec.europa.eu/mare/fisheries/services/mdr/v1/MDRService/getMDRList/Fault/MDRServiceException"/>
		</operation>
	</portType>
	<binding name="MDRServicePortBinding" type="tns:MDRService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getLatestVersionOfMDRList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MDRServiceException">
				<soap:fault name="MDRServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="getFullMDRList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MDRServiceException">
				<soap:fault name="MDRServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="getMDRList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="MDRServiceException">
				<soap:fault name="MDRServiceException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="MDRService">
		<port name="MDRServicePort" binding="tns:MDRServicePortBinding">
			<soap:address location="https://intragate.test.ec.europa.eu/mare-mdr-webservices/v1/MDRService"/>
		</port>
	</service>
</definitions>
